<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            body, .center {
                text-align: center;
            }
            ul {
                list-style: none !important;
            }
            .card{
                margin: 20px auto !important;
                width: 20%;
                border: 1px solid #ac8b13;
            }
            .completed {
                text-decoration: line-through;
            }
            .uncompleted {
                text-decoration: none !important;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <a href="{% url 'logout' %}"> logout</a>
        </div>
        <h1>Todo List:</h1>
        <div class="card">
            <a href="{% url 'todo-create' %}">
                <h3>+ Add Todo </h3>
            </a>
        </div>
        {% for todo in object_list %}
        <div class="card">
            <h3>{{ todo.title }} </h3>
            <h4 id="h4-{{todo.id}}"> 
                
                    {% if todo.complete %}
                    <p class="uncompleted" > {{ todo.created_time|date }} - {{ todo.created_time|time }} - </p>
                    <input type="checkbox" name="checkbox" id={{todo.id}}   checked>
                    {% else %}
                    <p class = "completed">{{ todo.created_time|date }} - {{ todo.created_time|time }} - </p>
                    <input type="checkbox" name="checkbox" id={{todo.id}}   unchecked>
                    {% endif %}
            </h4>
        </div>
        {% endfor %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script>
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            $('input').on('click', function() {
            var url =  "{% url 'todo-complete'%}";
            var todo_id = $(this).attr('id');
            const csrftoken = getCookie('csrftoken');
            
            
            var complete_input = document.getElementById(todo_id);
            var p = complete_input.parentNode.children[0];
            var completed = complete_input.checked;
            if (!completed) {
                completed = 1   
                p.className = 'completed';
            } else {
                completed = 0
                p.className = 'uncomplete';
                
            }

            $.ajax({
                url: url,
                type: 'POST',
                data:{
                todo_id: todo_id,
                completed: completed,
                csrfmiddlewaretoken: csrftoken
                },
            }).done(function(response) {
                console.log(response) // just print the response for now
                })    
            })
        </script>
    </body>
</html>
